/* FONTES */

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Secular+One&display=swap");

/* EFEITO ROLAGEM */

* {
  scroll-behavior: smooth;
  text-decoration: none;
}

/* FUNDO GERAL */

body {
  background-color: #8d99a2;
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 55px;
}

/* HEADER */

header {
  color: white;
  font-size: 30px;
  font-family: "Secular One", sans-serif;
  display: flex;
  align-items: center;
}

header .margem_tit {
  margin-left: 31%;
}

header .margem_bot {
  margin-right: 60px;
}

header .botao2 {
  padding-top: 15px;
  text-align: right;
  color: #dee6ec;
  text-decoration: none;
}

header h1 {
  margin-left: 15px;
  font-family: "Abril Fatface", cursive;
  font-size: 55px;
}

/* PRIMEIRO BLOCO */

main {
  background-color: white;
  width: 100%;
  height: 3250px;
  margin: 65px auto 0px auto;
}

main .img_prin {
  border: none;
  float: right;
  width: 50%;
  height: 810px;
}

main .h2_prim {
  width: calc(50% - 200px);
  height: 610px;
  padding: 170px 100px 30px 100px;
  float: left;
  font-size: 65px;
  font-family: "Secular One", sans-serif;
  color: #1b1b1b;
}

main .legend_prim {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6;
  font-weight: lighter;
  color: #848484;
  line-height: 35px;
}

/* TITULO SEGUNDO BLOCO */

main .barra1 {
  width: 85%;
  height: 100px;
  background-color: #eef2f6;
  color: #848484;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 60px;
  font-family: "Secular One", sans-serif;
}

main .barra2 {
  text-decoration: none;
  width: 15%;
  height: 100px;
  background-color: #0098e2;
  float: right;
  color: white;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Secular One", sans-serif;
}

/* SEGUNDO BLOCO */
main .logos {
  width: 300px;
  margin-top: 25px;
}

main .logo_css {
  width: 325px;
  margin-top: 10px;
}

main .ling {
  background-color: #eef2f6;
  width: 350px;
  height: 520px;
  border-radius: 6;
  font-family: "Secular One", sans-serif;
  font-size: 45px;
  color: #848484;
  padding-top: 30px;
  border-radius: 30px;
}

main .conhecimento {
  font-family: "Secular One", sans-serif;
  font-size: 25px;
  color: #848484;
  margin-top: 25px;
}

main .marg {
  margin-top: 15px;
}

main .marg2 {
  margin-top: 28px;
}

.grid_logos {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 3%;
  justify-content: center;
  text-align: center;
}

progress {
  width: 300px;
  margin-top: 15px;
}

main .HTML {
  accent-color: #ff7816;
}

main .CSS {
  accent-color: #0074be;
}

main .JS {
  accent-color: #ffd83a;
}

main .PYTHON {
  accent-color: #3470a0;
}

/* TERCEIRO BLOCO */

main .img_sec {
  border: none;
  float: left;
  width: 50%;
  height: 810px;
}

main .h2_sec {
  width: calc(50% - 200px);
  height: 610px;
  padding: 170px 100px 30px 100px;
  float: right;
  font-size: 60px;
  font-family: "Secular One", sans-serif;
  color: #1b1b1b;
  background-color: #eef2f6;
}

main .legend_sec {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-weight: lighter;
  color: #848484;
  line-height: 35px;
  margin-bottom: 60px;
}

/* QUARTO BLOCO */

main .h2_ter {
  width: calc(50% - 70px);
  height: 540px;
  float: left;
  padding-top: 170px;
  padding-left: 70px;
  font-size: 60px;
  font-family: "Secular One", sans-serif;
  color: rgb(226, 226, 226);
  background-color: #2f3337;
}

.txt_contato {
  margin: 60px 0px 10px 15px;
  text-align: left;
  font-size: 40px;
  font-family: "Secular One", sans-serif;
  color: rgb(198, 198, 198);
}

.float_cont {
  margin-left: 60px;
  float: left;
}

main .mapa {
  float: right;
}

/* FOOTER */

footer .creditos {
  width: 100%;
  height: 250px;
  background-color: #202529;
  color: white;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-family: "Secular One", sans-serif;
}

@media (min-width: 1925px) {
  .grid_logos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 7%;
    justify-content: center;
    text-align: center;
  }

  header .margem_tit {
    margin-left: 1070px;
  }
}
